---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---


{% include base_path %}

<div class="publications-list">
{% assign sorted_pubs = site.publications | sort: 'date' | reverse %}
{% for post in sorted_pubs %}
  <p class="pub-entry">
    <strong>{% if post.paperurl and post.paperurl != '' %}<a href="{{ post.paperurl }}">{{ post.title }}</a>{% else %}{{ post.title }}{% endif %}</strong>{% if post.slidesurl and post.slidesurl != '' %} <a href="{{ base_path }}{{ post.slidesurl }}">[Slides]</a>{% endif %}{% if post.videourl and post.videourl != '' %} <a href="{{ post.videourl }}">[Video]</a>{% endif %}<br>
    {% if post.authors %}{{ post.authors | markdownify | remove: '<p>' | remove: '</p>' | strip }}{% endif %}<br>
    {{ post.venue }}.
  </p>
{% endfor %}
</div>
